In [1]:
import pandas as pd

In [2]:
from matplotlib import pyplot as plt

In [3]:
# Subiremos la primer fuente de datos.(Proyectotea) a la memoria

In [10]:
data = pd.read_csv("Proyectotea.csv")

In [11]:
data

  Codigo ambito I6A1:A1:M4;Ambito;Codigo area (M49);Area;Codigo Elemento;Elemento;Codigo Producto (CPC);Producto;Codigo ano;Ano;Codigo Meses;Meses;Unidad;Valor;Simbolo;Descripcion del Simbolo
0  PP;Precios al Productor;340;Honduras;5530;Prec...
1  PP;Precios al Productor;340;Honduras;5532;Prec...

In [12]:
type(data)

pandas.core.frame.DataFrame

In [13]:
# Primeros datos en datafrome de pandas